{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta charset="utf-8">
    <title></title>

    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  </head>
  <body>
<div class="container p-3 my-3 border">
    <form action="" method="post" novalidate>
  {% csrf_token %}
  {{testo_domanda}}
<br>
<div class="d-none">
  {{form.questionario}}
  {{form.domanda}}
</div>
  <table border="1">
  {% for field in form.valutazione %}
    <tr>

<td>
        {{ field.id_for_label }}
</td>

<td>
        {{ field.choice_label }}
</td>

<td>
        {{ field.tag }}
</td>

 </tr>
  {% endfor %}
</table>
<button type="submit" class="btn btn-primary">Submit</button>

</div>
  </body>
</html>
